<!-- FILTER BUTTON (Mobile & Tablet Only) -->
<div class="lg:hidden">
  <button mat-raised-button color="primary" (click)="openFilters()">
    <mat-icon>tune</mat-icon>
    Filters
  </button>
</div>

<div class="layout">
  <!-- DESKTOP SIDEBAR -->
  <aside class="desktop-sidebar">
    <!-- SEARCH -->
    <input
      type="text"
      placeholder="Search..."
      (input)="onSearch($event)"
      class="w-full p-2 border rounded mb-4"
    />

    <!-- CATEGORIES -->
    <h3 class="font-medium mb-2">Categories</h3>

    @if (CategoryLoading) {
      <p>Loading...</p>
    } @else {
      <div class="flex flex-wrap gap-2">
        @for (cat of visibleCategories(); track cat) {
          <button
            (click)="onCategoryToggle(cat)"
            class="px-3 py-1 rounded-full border"
            [class.bg-blue-500]="productService.categories().includes(cat)"
            [class.text-white]="productService.categories().includes(cat)"
          >
            {{ cat }}
          </button>
        }
      </div>

      @if (categories().length > 5) {
        <button (click)="toggleCategories()" class="mt-2 text-blue-500">
          {{ showAllCategories() ? 'Less' : 'More' }}
        </button>
      }
    }

    <!-- PRICE -->
    <h3 class="mt-4">Price: {{ productService.maxPrice() }} $</h3>

    <mat-slider min="0" max="5000">
      <input matSliderThumb [value]="productService.maxPrice()" (input)="onPriceChange($event)" />
    </mat-slider>

    <!-- SORT -->
    <h3 class="mt-4 font-medium">Sort</h3>

    <mat-select class="w-full" (selectionChange)="onSortChange($event.value)">
      <mat-option value="priceAsc"> Price Low → High </mat-option>

      <mat-option value="priceDesc"> Price High → Low </mat-option>

      <mat-option value="rating"> Rating </mat-option>
    </mat-select>
  </aside>

  <!-- PRODUCTS -->
  <section class="products-section">
    @if (productService.loading() === 'loading') {
      <div class="products-container">
        @for (_ of skeletonArray; track $index) {
          <app-product-card-skeleton />
        }
      </div>
    }

    @if (productService.loading() !== 'loading') {
      @if (productService.products().length === 0) {
        <div class="text-center py-16 text-gray-500">
          <p class="text-lg font-semibold">No products found 😢</p>

          @if (productService.search()) {
            <p>No results for "{{ productService.search() }}"</p>
          }
        </div>
      } @else {
        <div class="products-container">
          @for (product of productService.products(); track product.id) {
            <app-product-card
              [title]="product.title"
              [price]="product.price * (1 - product.discountPercentage / 100)"
              [oldPrice]="product.price"
              [rating]="product.rating"
              [discount]="product.discountPercentage"
              [image]="product.thumbnail"
              [description]="product.description"
              [product]="product"
              [productId]="product.id"
              (addToCart)="handleAddToCart(product, $event.quantity)"
              (addWishlist)="handleAddToWishlist(product)"
            >
            </app-product-card>
          }
        </div>
      }
    }

    <div class="container-paginator">
      <mat-paginator
        [length]="productService.total()"
        [pageSize]="productService.limit()"
        [pageIndex]="productService.page() - 1"
        (page)="handlePageChange($event)"
      >
      </mat-paginator>
    </div>
  </section>
</div>
