<div class="flex flex-col lg:flex-row gap-6 p-4 items-start">
  <!-- SIDEBAR -->
  <aside class="w-full lg:w-64 bg-white p-4 rounded-xl shadow sticky top-4 self-start">
    <!-- SEARCH -->
    <input
      type="text"
      placeholder="Search..."
      (input)="onSearch($event)"
      class="w-full p-2 border rounded mb-4"
    />

    <!-- CATEGORIES -->
    <h3 class="font-medium mb-2">Categories</h3>

    @if (CategoryLoading) {
      <p>Loading...</p>
    } @else {
      <div class="flex flex-wrap gap-2">
        @for (cat of visibleCategories(); track cat) {
          <button
            (click)="onCategoryToggle(cat)"
            class="px-3 py-1 rounded-full border"
            [class.bg-blue-500]="productService.categories().includes(cat)"
            [class.text-white]="productService.categories().includes(cat)"
          >
            {{ cat }}
          </button>
        }
      </div>

      @if (categories().length > 5) {
        <button (click)="toggleCategories()">
          {{ showAllCategories() ? 'Less' : 'More' }}
        </button>
      }
    }

    <!-- PRICE -->
    <h3 class="mt-4">Price: {{ productService.maxPrice() }} $</h3>

    <mat-slider min="0" max="5000">
      <input matSliderThumb [value]="productService.maxPrice()" (input)="onPriceChange($event)" />
    </mat-slider>

    <!-- SORT -->
    <h3 class="mt-4 font-medium">Sort</h3>

    <mat-select (selectionChange)="onSortChange($event.value)">
      <mat-option value="priceAsc">Price Low → High</mat-option>
      <mat-option value="priceDesc">Price High → Low</mat-option>
      <mat-option value="rating">Rating</mat-option>
    </mat-select>
  </aside>

  <!-- PRODUCTS -->
  <section class="flex-1">
    @if (productService.loading() === 'loading') {
      <div class="grid">
        @for (_ of skeletonArray; track $index) {
          <app-product-card-skeleton />
        }
      </div>
    }

    @if (productService.loading() !== 'loading') {
      @if (productService.products().length === 0) {
        <div class="text-center py-16 text-gray-500">
          <p class="text-lg font-semibold">No products found 😢</p>

          @if (productService.search()) {
            <p>No results for "{{ productService.search() }}"</p>
          }
        </div>
      } @else {
        <div class="grid">
          @for (product of productService.products(); track product.id) {
            <app-product-card
              [title]="product.title"
              [price]="product.price"
              [rating]="product.rating"
              [image]="product.thumbnail"
              [product]="product"
              [productId]="product.id"
              [description]="product.description"
              (addToCart)="handleAddToCart(product, $event.quantity)"
              (addWishlist)="handleAddToWishlist(product)"
            />
          }
        </div>
      }
    }

    <!-- PAGINATION -->
    <mat-paginator
      [length]="productService.total()"
      [pageSize]="productService.limit()"
      [pageIndex]="productService.page() - 1"
      (page)="handlePageChange($event)"
    >
    </mat-paginator>
  </section>
</div>
