<app-hero></app-hero>
<app-header-section
  [title]="'All Categories'"
  [subtitle]="'Explore our wide range of categories to find the perfect products for you.'"
/>

<!-- Skeleton -->
@if (CategoryLoading) {
  <div class="grid">
    @for (_ of skeletonCategories; track $index) {
      <app-product-card-skeleton />
    }
  </div>
}
<app-slider
  [items]="categories"
  [slidesPerView]="5"
  [spaceBetween]="20"
  [loop]="true"
  [autoplay]="true"
  [pagination]="false"
  shape="circle"
>
  <ng-template let-category>
    <mat-card class="circle-card">
      <div class="category-content">
        <div class="icon-wrapper">
          <mat-icon>category</mat-icon>
        </div>

        <span class="category-name">
          {{ category }}
        </span>
      </div>
    </mat-card>
  </ng-template>
</app-slider>

<app-header-section
  [title]="'Featured Products'"
  [subtitle]="'Discover our handpicked selection of featured products that are sure to impress.'"
/>
<!-- Skeleton -->
@if (productService.loading()) {
  <div class="grid">
    @for (_ of skeletonArray; track $index) {
      <app-product-card-skeleton />
    }
  </div>
}

<!-- Products -->
@if (!productService.loading()) {
  <div class="grid">
    @for (product of productService.products(); track product.id) {
      <app-product-card
        [title]="product.title"
        [price]="product.price * (1 - product.discountPercentage / 100)"
        [oldPrice]="product.price"
        [rating]="product.rating"
        [discount]="product.discountPercentage"
        [image]="product.thumbnail"
        [description]="product.description"
        [product]="product"
        [productId]="product.id"
        (addToCart)="handleAddToCart(product, $event.quantity)"
        (addWishlist)="handleAddToWishlist(product)"
      ></app-product-card>
    }
  </div>
}

<mat-paginator
  [length]="productService.total()"
  [pageSize]="productService.limit()"
  [pageIndex]="productService.page() - 1"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="handlePageChange($event)"
  aria-label="Select page"
>
</mat-paginator>
